{% load static %}
<!-- Start Footer  -->
<footer>
    <div class="footer-main">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="footer-top-box">
                        <h3>Business Time</h3>
                        <ul class="list-time">
                            <li>Monday - Friday: 08.00am to 05.00pm</li> <li>Saturday: 10.00am to 08.00pm</li> <li>Sunday: <span>Closed</span></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="footer-top-box">
                        <h3>Social Media</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <ul>
                            <li><a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fab fa-google-plus" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fab fa-pinterest-p" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fab fa-whatsapp" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="footer-widget">
                        <h4>About Freshshop</h4>
                        <p>Daha fazla bilgi için  <a style="color: whitesmoke" href="/hakkimizda">buraya</a> tıklayınız</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="footer-link">
                        <h4>Information</h4>
                        <ul>
                            <li><a href="/hakkimizda">Hakkımızda</a></li>
                            <li><a href="/iletisim">İletişim</a></li>

                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="footer-link-contact">
                        <h4>Contact Us</h4>
                        <ul>
                            <li>
                                <p><i class="fas fa-map-marker-alt"></i>Address: {{ setting.address | safe }}</p>
                            </li>
                            <li>
                                <p><i class="fas fa-phone-square"></i>Phone: {{ setting.phone | safe }}</a></p>
                            </li>
                            <li>
                                <p><i class="fas fa-envelope"></i>Email: {{ setting.email | safe }}</a></p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer  -->
<!-- Start copyright  -->
<div class="footer-copyright">
    <p class="footer-company">All Rights Reserved. &copy; 2018 <a href="#">ThewayShop</a> Design By :
        <a href="https://html.design/">html design</a></p>
</div>
<!-- End copyright  -->

<a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>

<!-- ALL JS FILES -->
<script src="{% static 'js/jquery-3.2.1.min.js' %} "></script>
<script src="{% static 'js/popper.min.js' %} "></script>
<script src="{% static 'js/bootstrap.min.js' %} "></script>
<!-- ALL PLUGINS -->
<script src="{% static 'js/jquery.superslides.min.js' %} "></script>
<script src="{% static 'js/bootstrap-select.js' %} "></script>
<script src="{% static 'js/inewsticker.js' %} "></script>
<script src="{% static 'js/bootsnav.js'%}"></script>
<script src="{% static 'js/images-loded.min.js' %} "></script>
<script src="{% static 'js/isotope.min.js' %} "></script>
<script src="{% static 'js/owl.carousel.min.js' %} "></script>
<script src="{% static 'js/baguetteBox.min.js' %} "></script>
<script src="{% static 'js/form-validator.min.js' %} "></script>
<script src="{% static 'js/contact-form-script.js' %} "></script>
<script src="{% static 'js/custom.js' %} "></script>