{% load static %}

<!-- Start Main Top -->
<div class="main-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">


                <div class="our-link">
                    <ul>
                        <li><a href="#"><i class="fas fa-location-arrow"></i> Our location</a></li>
                        <li><a href="/iletisim"><i class="fas fa-headset"></i> İletişim</a></li>
                    </ul>
                </div>
                <div class="right-phone-box">
                    {% if messages %}
                    {% for message in messages %}
                    <div  class="alert-danger-{{ message.tags }}" role="alert">
                        <h3 style="color: white" >{{ message }}</h3>
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>


            </div>



            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">

                {% if user.id is not None %}
                <div class="our-link">
                    <ul>
                        <li><a href="/user" style="color: white" >
                            <i class="fa fa-user s_color"></i>
                            {{ user.first_name }}</a>
                        </li>
                        <li><a href="/user">My Account</a></li>
                        <li><a href="/shopcart">My Cart</a></li>
                        <li><a href="shop-detail.html">My Orders</a></li>
                        <li><a href="cart.html">My Comments</a></li>
                        <li><a href="checkout.html">My Whislist</a></li>
                        <li><a href="/logout">Logout</a></li>
                    </ul>
                </div>

                {% else %}
                <div class="our-link">
                    <ul>
                        <li><a style="color: white" href="/signup">Sign Up!</a></li>
                        <li><a style="color: white" href="/login">LOGIN</a></li>
                    </ul>
                </div>
                {% endif %}



                <ul class="dropdown-menu">
                    <li><a href="my-account.html">My Account</a></li>
                    <li><a href="shop-detail.html">My Orders</a></li>
                    <li><a href="cart.html">My Comments</a></li>
                    <li><a href="checkout.html">My Whislist</a></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>

            </div>
        </div>
    </div>
</div>
<!-- End Main Top -->

<!-- Start Main Top -->
<header class="main-header">
    <!-- Start Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-default bootsnav">
        <div class="container">
            <!-- Start Header Navigation -->
            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="/"><img src="{% static 'images/logo.png' %} " class="logo" alt=""></a>
            </div>
            <!-- End Header Navigation -->

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-menu">
                <ul class="nav navbar-nav ml-auto" data-in="fadeInDown" data-out="fadeOutUp">
                    <li class="nav-item active"><a class="nav-link" href="/">Anasayfa</a></li>
                    <li class="nav-item">       <a class="nav-link" href="/hakkimizda">Hakkımızda</a></li>
                    <li class="dropdown">
                        <a href="#" class="nav-link dropdown-toggle arrow" data-toggle="dropdown">SHOP</a>
                        <ul class="dropdown-menu">
                            <li><a href="shop.html">Sidebar Shop</a></li>
                            <li><a href="shop-detail.html">Shop Detail</a></li>
                            <li><a href="cart.html">Cart</a></li>
                            <li><a href="checkout.html">Checkout</a></li>
                            <li><a href="my-account.html">My Account</a></li>
                            <li><a href="wishlist.html">Wishlist</a></li>
                        </ul>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="gallery.html">Gallery</a></li>
                    <li class="nav-item"><a class="nav-link" href="/referanslar">Referanslar</a></li>
                    <li class="nav-item"><a class="nav-link" href="/iletisim">İletişim</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->



            <!-- Start Atribute Navigation -->
            <div class="">
                <ul>
                    <li class="side-menu">
                        <a href="/shopcart/">
                            <i class="fa fa-shopping-bag"></i>
                            <span class="badge">{{ request.session.cart_items }}</span>
                            <p>My Cart</p>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- End Atribute Navigation -->
        </div>

    </nav>
</header>

<script>

    $(function() {
        $("#query").autocomplete({
            source: "/search_auto/",
            select: function (event, ui) { //item selected
                AutoCompleteSelectHandler(event, ui)
            },
            minLength: 2,
        });
    });

    function AutoCompleteSelectHandler(event, ui)
    {
        var selectedObj = ui.item;
    }

</script>



<!-- Start Top Search -->
<div class="top-search">
    <div class="container">


        <form action="/search/" method="post">
            <div class="input-group">

                {% csrf_token %}
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                <input id="query"  type="text" class="form-control" placeholder="Search">
                <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>

                {% load mptt_tags %}
                <select name="catid" class="search">
                    <option value="0">All Categories</option>
                    {% recursetree category %}
                    {% if node.is_leaf_node %}
                    <option value="{{ node.id }}">{{ node.title}}</option>
                    {% endif %}
                    {% if not node.is_leaf_node %}
                    <optgroup label="{{ node.title }}">
                        {{ children }}
                    </optgroup>
                    {% endif %}
                    {% endrecursetree %}
                </select>

            </div>
        </form>

    </div>
</div>
<!-- End Top Search -->