{% load static %}
<div class="contact-box-main">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <!-- Start Sidebar -->
                <div class="filter-sidebar-left" align="center">
                    <div class="title-left">
                        <h3>Categories</h3>
                    </div>
                    <div class="list-group list-group-collapse list-group-sm list-group-tree" id="list-group-men" data-children=".sub-men">

                        <a href="#" class="list-group-item list-group-item-action"> Grocery  <small class="text-muted">(150) </small></a>
                        <a href="#" class="list-group-item list-group-item-action"> Grocery  <small class="text-muted">(150) </small></a>
                        <a href="#" class="list-group-item list-group-item-action"> Grocery  <small class="text-muted">(150) </small></a>
                        <a href="#" class="list-group-item list-group-item-action"> Grocery  <small class="text-muted">(150) </small></a>
                        <a href="#" class="list-group-item list-group-item-action"> Grocery  <small class="text-muted">(150) </small></a>
                    </div>
                </div>

                <!-- End Sidebar -->

            </div>