{% load static %}
<div class="contact-box-main">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <!-- Start Sidebar -->
                <div class="filter-sidebar-left">

                    <div class="title-left">
                        <h3>Categories</h3>
                    </div>

                    <div class="list-group list-group-collapse list-group-sm list-group-tree" id="list-group-men" data-children=".sub-men">
                        {% load mptt_tags %}
                        {% recursetree category %}
                        <div class="list-group-collapse sub-men">
                            <a class="list-group-item list-group-item-action" href="#sub-men1" data-toggle="collapse" aria-expanded="true" aria-controls="sub-men1">{{ node.title }} <small class="text-muted"></small>
                            </a>
                            {% if not node.is_leaf_node %}
                            <div class="collapse show" id="sub-men1" data-parent="#list-group-men">
                                <div class="list-group">
                                    <a href="#" class="list-group-item list-group-item-action active">{{ children }} <small class="text-muted"></small></a>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                        {% endrecursetree %}
                    </div>



                    <div class="list-group list-group-collapse list-group-sm list-group-tree" id="list-group-men" data-children=".sub-men">
                        <div class="list-group-collapse sub-men">
                            <a class="list-group-item list-group-item-action" href="#sub-men1" data-toggle="collapse" aria-expanded="true" aria-controls="sub-men1">Fruits & Drinks <small class="text-muted">(100)</small>
                            </a>
                            <div class="collapse show" id="sub-men1" data-parent="#list-group-men">
                                <div class="list-group">
                                    <a href="#" class="list-group-item list-group-item-action active">Fruits 1 <small class="text-muted">(50)</small></a>
                                    <a href="#" class="list-group-item list-group-item-action">Fruits 2 <small class="text-muted">(10)</small></a>
                                    <a href="#" class="list-group-item list-group-item-action">Fruits 3 <small class="text-muted">(10)</small></a>
                                    <a href="#" class="list-group-item list-group-item-action">Fruits 4 <small class="text-muted">(10)</small></a>
                                    <a href="#" class="list-group-item list-group-item-action">Fruits 5 <small class="text-muted">(20)</small></a>
                                </div>
                            </div>
                        </div>

                        <div class="list-group-collapse sub-men">
                            <a class="list-group-item list-group-item-action" href="#sub-men2" data-toggle="collapse" aria-expanded="false" aria-controls="sub-men2">Vegetables
                                <small class="text-muted">(50)</small>
                            </a>
                            <div class="collapse" id="sub-men2" data-parent="#list-group-men">
                                <div class="list-group">
                                    <a href="#" class="list-group-item list-group-item-action">Vegetables 1 <small class="text-muted">(10)</small></a>
                                    <a href="#" class="list-group-item list-group-item-action">Vegetables 2 <small class="text-muted">(20)</small></a>
                                    <a href="#" class="list-group-item list-group-item-action">Vegetables 3 <small class="text-muted">(20)</small></a>
                                </div>
                            </div>
                        </div>

                        <a href="#" class="list-group-item list-group-item-action"> Grocery  <small class="text-muted">(150) </small></a>
                        <a href="#" class="list-group-item list-group-item-action"> Grocery <small class="text-muted">(11)</small></a>
                        <a href="#" class="list-group-item list-group-item-action"> Grocery <small class="text-muted">(22)</small></a>
                    </div>
                </div>

                <!-- End Sidebar -->

            </div>