{% load static %}
{% load mptt_tags %}
<style>
    ul#menu-v, #menu-v ul
    {
        width:200px; /* Main Menu width */
        border:1px solid rgba(190,190,190,0.3);
        list-style:none; margin:0; padding:0;
        z-index:9;
    }

    #menu-v li
    {
        margin:0;padding:0;
        position:relative;
        background-color:#DDDDDD; /*fallback color*/
        background-color:rgba(255,255,255,0.5);
        transition:background 0.5s;
    }
    #menu-v li:hover
    {
        background-color:rgba(102,102,102,0.9);
    }

    #menu-v a
    {
        font:normal 12px Arial;
        border-top:1px solid rgba(190,190,190,0.3);
        display:block;
        color:#000000;
        text-decoration:none;
        line-height:30px;
        padding-left:22px;
        position:relative;
    }

    #menu-v li:first-child a
    {
        border-top:0;
    }

    #menu-v a.arrow::after{
        content:'';
        position:absolute;
        display:inline;
        top:50%;
        margin-top:-4px;
        right:8px;
        border-width:4px;
        border-style:solid;
        border-color:transparent transparent transparent white;
        transition:border-color 0.5s;
    }

    #menu-v li a.arrow:hover::after
    {
        border-color:transparent transparent transparent #CCCCCC;
    }

    /*Sub level menu items
    ---------------------------------------*/
    #menu-v li ul
    {
        min-width:180px; /* Sub level menu min width */
        position:absolute;
        display:none;
        left:100%;
        top:50%; transform:translateY(-50%);
    }

    #menu-v li:hover > ul
    {
        display:block;
    }
</style>
<div class="contact-box-main">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <!-- Start Sidebar -->

                <div class="filter-sidebar-left">

                    <div class="title-left">
                        <h3>Categories</h3>
                    </div>

                    <ul id="menu-v">
                        {% recursetree category %}
                        <li>
                            <a href="/category/{{ node.id }}/{{ node.slug }}" {% if not node.is_leaf_node %} class="dropdown-toggle" {% endif %}>{{ node.title }}</a>
                            {% if not node.is_leaf_node %}
                            <ul class="children">
                                {{ children }}
                            </ul>
                            {% endif %}
                        </li>
                        {% endrecursetree %}

                    </ul>




                </div>
                <!-- End Sidebar -->
            </div>