
{% extends "homebase.html" %}

{% block title %}  Update Profile {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}
{% block description %} {{ setting.description }}{% endblock %}

{% block head %}
<link rel="shortcut icon" type="image/x-icon" href="{{ setting.icon.url}}">
{% endblock%}




{% block content %}


<!-- Start All Title Box -->
<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Update Profile</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Anasayfa</a></li>
                    <li class="breadcrumb-item active">Update Profile</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End All Title Box -->

<!-- Start Contact Us  -->
<div class="contact-box-main">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-12">

                <div class="contact-form-right">

                    {% include "user_panel.html" %}
                </div>
            </div>


            <div class="col-lg-9 col-sm-12">
                <div class="contact-info-left">
                    <h2>User Information</h2>

                    <div class="content-section">
                        <div class="media">
                            <img src="{{ user.userprofile.image.url }}" style="height: 50px ;border-radius: 45px">

                        </div>
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <fieldset class="form-group">

                                {{ user_form.as_p }}
                                {{ profile_form.as_p }}

                            </fieldset>
                            <div class="form-group">
                                <button class="btn hvr-hover" type="submit">Update</button>
                            </div>
                        </form>

                    </div>

                    </div>
            </div>
        </div>
    </div>
</div>
<!-- End Cart -->


{% endblock %}




