<div class="filter-sidebar-left">
    <div class="title-left">
        <h3>USER PANEL</h3>
    </div>
    <div class="list-group list-group-collapse list-group-sm list-group-tree" id="list-group-men" data-children=".sub-men">


        <a href="/user" class="list-group-item list-group-item-action"> User Profile  <small class="text-muted"> </small></a>
        <a href="/user/orders" class="list-group-item list-group-item-action"> My Orders <small class="text-muted"></small></a>
        <a href="/user/comments" class="list-group-item list-group-item-action"> My Comments <small class="text-muted"></small></a>
        <a href="/logout" class="list-group-item list-group-item-action"> Logout <small class="text-muted"></small></a>
    </div>
</div>